.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.div{
    
    background: linear-gradient(rgba(5 ,7,12,0.60),rgba(5 ,7,12,0.60)), url(./form.png);
    height: 54vh;
    width: 300px;
    border-radius: 18px;
}

.btn{
    background-color: greenyellow;
    color:white;
    border-radius: 16px;
}


.label{
    color: white;
}